//
   Created by 胡晟 on 2017/7/4.
extends ../layout_teacher

block styles

block scripts
    script(src='/my_js/student/announcement.js')
    script.
        $(document).ready(function () {
            $('.ti').each(function (index, el) {
                var da= this.previousSibling.innerHTML;
                var x = new Date(da);
                var times = getDateDiff(x);
                this.innerHTML = times;
            })
        })

block content
    // page heading start
    .page-heading
        h3
            | 查看通知
        ul.breadcrumb
            li
                a(href='#') 通知

            li.active  查看通知
    // page heading end
    // body wrapper start
    .wrapper
        span.pull-right(style='margin-right:50px')
            a(href='#myModal' , data-toggle='modal')
                button.btn.btn-primary(type='button',style='margin-right:10px') 发布新通知
        .modal.fade(id='myModal',tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog
                .modal-content
                    form(role="form")
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                            h4.modal-title 新通知
                        .modal-body.row
                            .form-group.col-md-2
                                label  标题
                                input#tit.form-control
                            .form-group.col-md-12
                                label  内容
                                textarea#det.form-control(rows='4')
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal') 关闭
                            button#bubble.btn.btn-success.btn-sm(type='button',onclick="send()") 提交
        .row
            .col-sm-12
                .timeline
                    -var i=0;
                    -each item in data
                        -i=i+1;
                        -if (i%2==1)
                            article.timeline-item.alt
                                .timeline-desk
                                    .panel
                                        .panel-body
                                            span.arrow-alt
                                            span.timeline-icon
                                            span.timeline-date #{item.announcement_update_time}
                                            h1.red.ti
                                            p #{item.teacher_name}
                                            p(style='font-weight:800') #{item.announcement_title}
                                            p #{item.announcement_message}
                        -else
                            article.timeline-item
                                .timeline-desk
                                    .panel
                                        .panel-body
                                            span.arrow
                                            span.timeline-icon
                                            span.timeline-date #{item.announcement_update_time}
                                            h1.green.ti
                                            p #{item.teacher_name}

                                            p(style='font-weight:800') #{item.announcement_title}
                                            p #{item.announcement_message}

    // body wrapper end
