//
   Created by 胡晟 on 2017/7/1.


extends ../layout_teacher


block styles
    link(href='/css/jquery.stepy.css', rel='stylesheet')
    // pickers css
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-datepicker/css/datepicker-custom.css')
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-timepicker/css/timepicker.css')
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-colorpicker/css/colorpicker.css')
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-daterangepicker/daterangepicker-bs3.css')
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-datetimepicker/css/datetimepicker-custom.css')

block scripts

    script.
        /*=====STEPY WIZARD====*/
        $(function () {
            $('#default').stepy({
                backLabel: '前一步',
                block: true,
                nextLabel: '下一步',
                titleClick: true,
                titleTarget: '.stepy-tab'
                //finish : sub()
            });
        });

    //pickers plugins
    script(type='text/javascript', src='/js/bootstrap-datepicker/js/bootstrap-datepicker.js')
    script(type='text/javascript', src='/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')
    script(type='text/javascript', src='/js/bootstrap-daterangepicker/moment.min.js')
    script(type='text/javascript', src='/js/bootstrap-daterangepicker/daterangepicker.js')
    script(type='text/javascript', src='/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
    script(type='text/javascript', src='/js/bootstrap-timepicker/js/bootstrap-timepicker.js')
    // pickers initialization
    //script(src='/js/pickers-init.js')

    //wizard
    script(src='/js/jquery.validate.min.js')
    script(src='/js/jquery.stepy.js')

    // spinner
    script(type='text/javascript', src='/js/fuelux/js/spinner.min.js')


    script(src='/my_js/teacher/homework_update.js')


block content
    // page heading start
    .page-heading
        h3
            | 编辑作业要求
        ul.breadcrumb
            li
                a(href='#') 作业
            li.active 编辑作业要求
    // page heading end
    // body wrapper start
    .wrapper
        .row
            .col-lg-12
                section.panel
                    header.panel-heading
                        | 作业要求
                    .panel-body
                        form.form-horizontal.adminex-form(action='/teacher/homework_update',method='post')
                            //-var data={homework_id:'1',homework_title:'罚抄十遍',homework_start_time:'2017-07-04 21:25:10',homework_end_time:'2017-07-06 06:45:10',homework_score:"12",resubmit_limit:'6',homework_message:'快抄！'};
                            input(name='homework_id',value=data.homework_id,type='hidden')
                            .form-group
                                label.col-md-2.col-sm-2.control-label 作业标题
                                .col-md-6.col-sm-6
                                    input.form-control(required='required',type='text', placeholder='标题' name='homework_title',value=data.homework_title )
                            .form-group
                                label.col-md-2.col-sm-2.control-label 开始时间
                                .col-md-4
                                    .input-group.date.form_datetime-component
                                        input#start.form-control(onchange='OnChange()',required='required',type='text', readonly='', size='16' name='homework_start_time',value=data.homework_start_time)
                                        span.input-group-btn
                                            button.btn.btn-primary.date-set(type='button')
                                                i.fa.fa-calendar
                            .form-group
                                label.col-md-2.col-sm-2.control-label 截止时间
                                .col-md-4
                                    .input-group.date.form_datetime-component
                                        input#end.form-control(onchange='OnChange()',required='required',type='text', readonly='', size='16' name='homework_end_time',value=data.homework_end_time)
                                        span.input-group-btn
                                            button.btn.btn-primary.date-set(type='button')
                                                i.fa.fa-calendar
                            .form-group
                                label.col-md-2.col-sm-2.control-label 作业分值
                                .col-md-6.col-sm-6
                                    //input.form-control(required='required',type='text', placeholder='分值' name='homework_score',value=data.homework_score)
                                    .spinner-s
                                        .input-group(style='width:150px;')
                                            input.spinner-input.form-control(value=data.homework_score,name='homework_score',type='text', maxlength='3', readonly='')
                                            .spinner-buttons.input-group-btn
                                                button.btn.btn-default.spinner-up(type='button')
                                                    i.fa.fa-angle-up
                                                button.btn.btn-default.spinner-down(type='button')
                                                    i.fa.fa-angle-down
                            .form-group(style='display:none')
                                label.col-md-2.col-sm-2.control-label 允许提交次数
                                .col-md-6.col-sm-6
                                    input.form-control(required='required',type='text', placeholder='提交次数' name='resubmit_limit',value=data.resubmit_limit)
                            .form-group
                                label.col-md-2.col-sm-2.control-label 要求以及指导
                                .col-md-6.col-sm-6
                                    textarea.form-control(required='required',rows='5', cols='60' name='homework_message')=data.homework_message
                            .form-group
                                .col-lg-offset-2.col-lg-10
                                    button.btn.btn-default(type="button",onclick="history.go('-1')") 返回
                                    button#sub.btn.btn-primary(style='margin-left:10px',type='submit') 保存修改


    // body wrapper end


