//
   Created by 胡晟 on 2017/7/1.

extends ../layout_teacher


block styles
    // dynamic table
    link(href='/js/advanced-datatable/css/demo_page.css', rel='stylesheet')
    link(href='/js/advanced-datatable/css/demo_table.css', rel='stylesheet')
    link(rel='stylesheet', href='/js/data-tables/DT_bootstrap.css')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/style-responsive.css', rel='stylesheet')

    // file upload
    //link(rel='stylesheet', type='text/css', href='/css/bootstrap-fileupload.min.css')


block scripts


    // icheck
    //script(src='/js/iCheck/jquery.icheck.js')
    //script(src='/js/icheck-init.js')
    // spinner
    script(type='text/javascript', src='/js/fuelux/js/spinner.min.js')
    script(src='/js/spinner-init.js')
    // file upload
    //script(type='text/javascript', src='/js/bootstrap-fileupload.min.js')
    // dynamic table
    script(type='text/javascript', language='javascript', src='/js/advanced-datatable/js/jquery.dataTables.js')
    script(type='text/javascript', src='/js/data-tables/DT_bootstrap.js')


    script(src='/my_js/teacher/homework_group_upload.js')




block content
    // page heading start
    //- var data = {homework_id:11,homework_name:"作业名字",homework_score:"作业分数",homework_message:"作业消息",teacher_name:"教师名字",homework_start_time:"作业开始时间",homework_end_time:"作业结束时间",homework_resubmit_limit:"作业重交限制",group_list:[{group_id:202,group_name:"组名",group_owner:"组长",score:"分数",score_message:"打分评语",homework_upload_list:[{homework_upload_id:3003,homework_file_name:"作业文件名称",homework_upload_time:"作业上传时间",resubmit_limit:"重交限制"}]}]};

    .page-heading
        h3
            | #{data.homework_name}
        ul.breadcrumb
            li
                a(href='#') 作业

            li.active  #{data.homework_name}
    // page heading end
    // body wrapper start
    .wrapper
        .row
            .col-sm-12
                section.panel
                    header.panel-heading
                        | 已提交的团队
                        span.pull-right(style='margin-bottom: -50px')
                            button.btn.btn-success.btn-xs(type='button',data-homework-id=data.homework_id,onclick="download_all(this)")
                                i.fa.fa-cloud-download
                                | 下载全部
                    .panel-body
                        .adv-table
                            table#dynamic-table.display.table.table-bordered.table-striped

                                thead
                                    tr
                                        th 团队号
                                        th 团队名
                                        th 负责人
                                        th 文件个数
                                        th 分数
                                        th 操作

                                tbody
                                    each item in data.group_list
                                        tr.gradeA
                                            td #{item.group_id}
                                            td #{item.group_name}
                                            td #{item.group_owner}
                                            td #{item.homework_upload_list.length}
                                            td #{item.score}
                                            td.center
                                                div
                                                    a(href='#myModal'+item.group_id, data-toggle='modal')
                                                        button.btn.btn-primary.btn-xs(type='button',style='margin-right:10px')
                                                            i.fa.fa-comment-o
                                                            |评分
                                                    button.btn.btn-success.btn-xs(type='button',style='margin-right:10px',data-homework-id=data.homework_id,data-group-id=item.group_id,onclick="download(this)")
                                                        i.fa.fa-cloud-download
                                                        |下载
                        // Modal
                        each item in data.group_list
                            .modal.fade(id='myModal'+item.group_id,tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                                .modal-dialog
                                    .modal-content
                                        form(action='/teacher/homework_set_score', method='post')
                                            .modal-header
                                                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                                h4.modal-title 评价作业
                                            .modal-body.row
                                                    input(name='homework_id',value=data.homework_id,type='hidden')
                                                    input(name='group_id',value=item.group_id,type='hidden')
                                                    .form-group.col-md-4
                                                        label  分数
                                                        -if (item.score=='未评分')
                                                            input.form-control(name='score',placeholder="满分为"+data.homework_score+"分")
                                                        -else
                                                            input.form-control(name='score',value=item.score,placeholder="满分"+data.homework_score+"分")
                                                    .form-group.col-md-12
                                                        label  评语
                                                        textarea.form-control(name='score_message',rows='4' )=item.score_message
                                            .modal-footer
                                                button.btn.btn-default(type='button', data-dismiss='modal') 关闭
                                                button.btn.btn-success.btn-sm(type='submit') 保存提交

                        // modal



    // body wrapper end

