//
   Created by 胡晟 on 2017/7/1.

extends ../layout_teacher


block styles
    // dynamic table
    link(href='/js/advanced-datatable/css/demo_page.css', rel='stylesheet')
    link(href='/js/advanced-datatable/css/demo_table.css', rel='stylesheet')
    link(rel='stylesheet', href='/js/data-tables/DT_bootstrap.css')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/style-responsive.css', rel='stylesheet')

    // file upload
    //link(rel='stylesheet', type='text/css', href='/css/bootstrap-fileupload.min.css')


block scripts


    // icheck
    //script(src='/js/iCheck/jquery.icheck.js')
    //script(src='/js/icheck-init.js')
    // spinner
    script(type='text/javascript', src='/js/fuelux/js/spinner.min.js')
    script(src='/js/spinner-init.js')
    // file upload
    //script(type='text/javascript', src='/js/bootstrap-fileupload.min.js')
    // dynamic table
    script(type='text/javascript', language='javascript', src='/js/advanced-datatable/js/jquery.dataTables.js')
    script(type='text/javascript', src='/js/data-tables/DT_bootstrap.js')


    script(src='/my_js/teacher/homework_group_upload.js')




block content
    // page heading start
    -var data={homework_name:"罚抄一百遍",homework_upload_list:[{group_id:"1",group_name:'不想罚抄',group_owner:'罚抄大队长',homework_upload_time:'2017-11-5 21:22:23',score:'5',homework_message:'抄的不错 '},{group_id:"2",group_name:'就想罚抄',group_owner:'抄抄抄',homework_upload_time:'2017-11-5 06:22:23',score:'1',homework_message:'错别字太多！'}]};


    .page-heading
        h3
            | #{data.homework_name}
        ul.breadcrumb
            li
                a(href='#') 作业

            li.active  #{data.homework_name}
    // page heading end
    // body wrapper start
    .wrapper
        .row
            .col-sm-12
                section.panel
                    header.panel-heading
                        | 已提交的团队
                    .panel-body
                        .adv-table
                            table#dynamic-table.display.table.table-bordered.table-striped

                                thead
                                    tr
                                        th 团队号
                                        th 团队名
                                        th 负责人
                                        th 提交时间
                                        th 分数
                                        th 操作

                                tbody
                                    each item in data.homework_upload_list
                                        tr.gradeA
                                            td #{item.group_id}
                                            td #{item.group_name}
                                            td #{item.group_owner}
                                            td #{item.homework_upload_time}
                                            td #{item.score}
                                            td.center(style='width:150px;')
                                                div
                                                    a(href='#myModal'+item.group_id, data-toggle='modal')
                                                        button.btn.btn-primary(type='button',style='margin-right:10px') 评分
                                                    button.btn.btn-success(type='button',style='margin-right:10px') 下载
                        // Modal
                        each item in data.homework_upload_list
                            .modal.fade(id='myModal'+item.group_id,tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                                .modal-dialog
                                    .modal-content
                                        form(action='/teacher/homework_group_upload', method='post')
                                            .modal-header
                                                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                                h4.modal-title Edit Media Gallery
                                            .modal-body.row
                                                    input(name='homework_id',value=item.homework_id,type='hidden')
                                                    .form-group.col-md-2
                                                        label  分数
                                                        input.form-control(name='score',value=item.score)
                                                    .form-group.col-md-12
                                                        label  评语
                                                        textarea.form-control(name='score_message',rows='4')=item.homework_message
                                            .modal-footer
                                                button.btn.btn-default(type='button', data-dismiss='modal') 关闭
                                                button.btn.btn-success.btn-sm(type='submit') 保存提交

                        // modal



    // body wrapper end

