//
   Created by lenovo on 2017/7/1.

extends ../layout_student

block styles

block scripts
    script(src='/my_js/student/announcement.js')
    script.
        $(document).ready(function () {
            $('.ti').each(function (index, el) {
                var da= this.previousSibling.innerHTML;
                console.log(da);
                var x = new Date(da);
                var times = getDateDiff(x);
                this.innerHTML = times;
            })
        })

block content
    // page heading start
    .page-heading
        h3
            | 查看通知
        ul.breadcrumb
            li
                a(href='#') 通知

            li.active  查看通知
    // page heading end
    // body wrapper start
    .wrapper
        .row
            .col-sm-12
                .timeline
                    //article.timeline-item.alt
                    //    .text-right
                    //        .time-show.first
                    //            a.btn.btn-primary(href='#') Today
                    -var i=0;
                    -each item in data
                        -i=i+1;
                        -if (i%2==1)
                            article.timeline-item.alt
                                .timeline-desk
                                    .panel
                                        .panel-body
                                            span.arrow-alt
                                            span.timeline-icon
                                            span.timeline-date #{item.announcement_update_time}
                                            h1.red.ti
                                            p(style='font-weight:800') #{item.announcement_title}
                                            p #{item.announcement_message}
                        -else
                            article.timeline-item
                                .timeline-desk
                                    .panel
                                        .panel-body
                                            span.arrow
                                            span.timeline-icon
                                            span.timeline-date #{item.announcement_update_time}
                                            h1.green.ti
                                            p(style='font-weight:800') #{item.announcement_title}
                                            p #{item.announcement_message}

    // body wrapper end
