//
   Created by 胡晟 on 2017/7/2.

extends ../layout_student






block styles
    link(href='/css/jquery.stepy.css', rel='stylesheet')
    // pickers css
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-datepicker/css/datepicker-custom.css')
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-timepicker/css/timepicker.css')
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-colorpicker/css/colorpicker.css')
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-daterangepicker/daterangepicker-bs3.css')
    link(rel='stylesheet', type='text/css', href='/js/bootstrap-datetimepicker/css/datetimepicker-custom.css')

    style.
        .ajust{
            padding-top : 7px
        }



block scripts

    script.
        /*=====STEPY WIZARD====*/
        $(function () {
            $('#default').stepy({
                backLabel: '前一步',
                block: true,
                nextLabel: '下一步',
                titleClick: true,
                titleTarget: '.stepy-tab'
                //finish : sub()
            });
        });

    //pickers plugins
    script(type='text/javascript', src='/js/bootstrap-datepicker/js/bootstrap-datepicker.js')
    script(type='text/javascript', src='/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')
    script(type='text/javascript', src='/js/bootstrap-daterangepicker/moment.min.js')
    script(type='text/javascript', src='/js/bootstrap-daterangepicker/daterangepicker.js')
    script(type='text/javascript', src='/js/bootstrap-colorpicker/js/bootstrap-colorpicker.js')
    script(type='text/javascript', src='/js/bootstrap-timepicker/js/bootstrap-timepicker.js')
    // pickers initialization
    //script(src='/js/pickers-init.js')

    //wizard
    script(src='/js/jquery.validate.min.js')
    script(src='/js/jquery.stepy.js')



    script(src='/my_js/student/homework_information.js')


block content
    // page heading start
    .page-heading
        h3
            | 作业详情
        ul.breadcrumb
            li
                a(href='#') 作业
            li.active 作业详情
    // page heading end
    // body wrapper start
    //-var data={homework_id:'1',homework_title:'罚抄十遍',homework_start_time:'2017-07-04 21:25:10',homework_end_time:'2017-07-06 06:45:10',homework_score:"12",resubmit_limit:'6',homework_message:'快抄！罚抄十遍！快抄！罚抄十遍！快抄！罚抄十遍！快抄！罚抄十遍！快抄！罚抄十遍！',homework_upload_list:[{score:'3',score_message:'字太丑！字太丑！字太丑！字太丑！字太丑！字太丑！字太丑！',homework_file_name:'罚抄.doc',homework_upload_time:'2017-07-02 21:22:23',homework_upload_id:'1'},{score:'3',score_message:'字太丑！字太丑！字太丑！字太丑！字太丑！字太丑！字太丑！',homework_file_name:'手都抄断了.doc',homework_upload_time:'2017-07-02 21:22:23',homework_upload_id:'1'}]};
    .wrapper
        .row
            .col-lg-12
                section.panel
                    header.panel-heading
                        | #{data.homework_name}
                        span#status.pull-right(style='margin-bottom: -50px')

                    .panel-body
                        .row
                            .form-horizontal.adminex-form.col-md-5
                                .form-group
                                    label.col-md-4.col-sm-4.control-label 开始时间
                                    .ajust.col-md-6.col-sm-6#start #{data.homework_start_time}
                                .form-group
                                    label.col-md-4.col-sm-4.control-label 作业分值
                                    .ajust.col-md-6.col-sm-6 #{data.homework_score}
                                //.form-group
                                //    label.col-md-4.col-sm-4.control-label 允许提交次数
                                //    .ajust.col-md-6.col-sm-6 #{data.resubmit_limit}
                                .form-group
                                    label.col-md-4.col-sm-4.control-label 要求及指导
                                    .ajust.col-md-8.col-sm-8 #{data.homework_message}

                            .form-horizontal.adminex-form.col-md-7
                                .form-group
                                    label.col-md-4.col-sm-4.control-label 截止时间
                                    .ajust.col-md-6.col-sm-6#end #{data.homework_end_time}
                                .form-group
                                    label.col-md-4.col-sm-4.control-label 得分
                                    .ajust.col-md-6.col-sm-6 #{data.group_list[0].score}
                                //.form-group
                                //    label.col-md-4.col-sm-4.control-label 已提交次数
                                //    .ajust.col-md-6.col-sm-6 未定义
                                .form-group
                                    label.col-md-4.col-sm-4.control-label 教师评语
                                    .ajust.col-md-6.col-sm-6 #{data.group_list[0].score_message}
                        .row
                            .col-sm-12
                                section.panel
                                    header.panel-heading
                                        | 文件列表
                                        //-var urank=2;
                                        // 2:负责人     1:普通人
                                        -if (urank==2)
                                            span#upl.pull-right(style='margin-bottom: -50px')
                                                form#upload_form.form-group(method='post' enctype="multipart/form-data",data-homework-id=data.homework_id,data-group-id=data.group_list[0].group_id)
                                                    button#upload_button.btn.btn-default(type='submit' style='height: 25px;margin-right: 10px;padding-top: 2px;font-size: inherit;')
                                                        i.fa.fa-cloud-upload
                                                        |  上传
                                                    input#upload_file(name='file',type='file', style='float:right;width: 200px;')
                                    .panel-body
                                        table.table.table-hover.general-table
                                            thead
                                                tr
                                                    th 序号
                                                    th 文件名
                                                    th 上传时间
                                                    -if (urank==2)
                                                        th 操作

                                            tbody
                                                -var i=0;
                                                each item in data.group_list[0].homework_upload_list
                                                    -i=i+1;
                                                    tr
                                                        td #{i}
                                                        td #{item.homework_file_name}
                                                        td #{item.homework_upload_time}
                                                        -if (urank==2)
                                                            td
                                                                -var del='/student/homework_delete?homework_upload_id='+item.homework_upload_id+"&homework_id="+data.homework_id;
                                                                button.dele.btn.btn-danger.btn-xs(type='button',onclick="window.location.href="+"'"+del+"'",style='margin-right:10px',)
                                                                    i.fa.fa-trash-o
                                                                    |删除

    // body wrapper end


