//
   Created by 胡晟 on 2017/7/3.
extends ../layout_student


block styles
    // dynamic table
    link(href='/js/advanced-datatable/css/demo_page.css', rel='stylesheet')
    link(href='/js/advanced-datatable/css/demo_table.css', rel='stylesheet')
    link(rel='stylesheet', href='/js/data-tables/DT_bootstrap.css')



block scripts

    // spinner
    script(type='text/javascript', src='/js/fuelux/js/spinner.min.js')
    script(src='/js/spinner-init.js')
    // file upload
    script(type='text/javascript', src='/js/bootstrap-fileupload.min.js')
    // dynamic table
    script(type='text/javascript', language='javascript', src='/js/advanced-datatable/js/jquery.dataTables.js')
    script(type='text/javascript', src='/js/data-tables/DT_bootstrap.js')
    // dynamic table initialization
    //script(src='/js/dynamic_table_init.js')
    script(src='/my_js/student/invitation_teamee.js')




block content
    -var data={student_list:[{student_id:'14211093',student_name:'胡晟',student_gender:'男',student_class:'142114'},{student_id:'14211234',student_name:'胡铮飞',student_gender:'男',student_class:'142114'}]};
    // page heading start
    .page-heading
        h3
            | 邀请
        ul.breadcrumb
            li
                a(href='#') 团队

            li.active  邀请
    // page heading end
    // body wrapper start
    .wrapper
        .row
            .col-sm-12
                section.panel
                    header.panel-heading
                        | 未组队人员

                    .panel-body
                        .adv-table
                            table#dynamic-table.display.table.table-bordered.table-striped
                                thead
                                    tr
                                        th 学号
                                        th 姓名
                                        th 性别
                                        th 班级
                                        th 操作

                                tbody
                                    each item in data.student_list
                                        tr.gradeA
                                            td #{item.student_id}
                                            td #{item.student_name}
                                            td #{item.student_gender}
                                            td #{item.student_class}
                                            td.center
                                                button.btn.btn-success.btn-xs(type='button',style='margin-right:10px',data-sid=item.student_id,data-sna=item.student_name,onclick="invite(this)") 邀请


    // body wrapper end
