extends ../layout_student

block styles

block content
        .page-heading
          h3
            | 课程通知
            small 软件工程敏捷开发实践
          ul.breadcrumb
            li
              a(href='#') 课程信息
            li.active 课程通知

          hr(style="FILTER: alpha(opacity=100,finishopacity=0,style=3)", width="99%", color="#987cb9", size="3")

          section.panel
              header.panel-heading
                | 提示
                span.tools.pull-right
                  a.fa.fa-chevron-down(href="javascript:;")
                  a.fa.fa-times(href="javascript:;")
              .panel-body
                p
                  | 敏捷开发实践的必要工作是制定开发计划文档，包括
                  code .release_plan
                  |  发布计划文件和
                  code .xlsx
                  | 用户故事文件。

                - var data = [{type: 'danger', title:'警告',detail:'第一次迭代截至日期为明天06月29日！'},{type:'success',title:'表现不错',detail:'每个组都按时完成了第二次迭代开发！'},{type:'warning',title:'评分',detail:'各小组用户故事已经评分，请按照要求修改原有内容！'}];
                - for i in data
                    if i.type == 'success'
                      .alert.alert-success.alert-block.fade.in
                        button.close.close-sm(type="button", data-dismiss="alert")
                          i.fa.fa-times
                        strong #{i.title}
                        |  #{i.detail}
                    else if i.type == 'warning'
                      .alert.alert-warning.fade.in
                        button.close.close-sm(type="button", data-dismiss="alert")
                          i.fa.fa-times
                        strong #{i.title}
                        | #{i.detail}
                    else if i.type == 'danger'
                      .alert.alert-block.alert-danger.fade.in
                        button.close.close-sm(type="button", data-dismiss="alert")
                          i.fa.fa-times
                        strong #{i.title}
                        | #{i.detail}

block scripts
